* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 600px;
  margin-top: 30px;
}
.cont1{
  float: left;
}
.imgbox1 {
  float: left;
  width: 250px;
  border: 5px ridge rgb(219, 219, 219);
  margin: 15px 15px 20px 0px;
}
.textbox1 {
  padding-left: 30px;
  margin-top: 30px;
  width: 300px;
  float: left;
  line-height: 2;
}
.textbox1 span{
  color: blue;
  font-weight: bold;
}
.imgbox2{
  clear: left;
}
.textbox1 button{
  width: 300px;
  height: 40px;
  margin: 20px 0px 40px;
}
.textbox1 a {
  text-decoration: none;
}